### Pandas Basic

In [7]:
import pandas as pd
pd.__version__

'1.0.3'

In [10]:
list_s=[1,2,3,4,'Data_Science']
list_s

[1, 2, 3, 4, 'Data_Science']

In [15]:
Series1=pd.Series(list_s)
Series1

0               1
1               2
2               3
3               4
4    Data_Science
dtype: object

In [16]:
type(Series1)

pandas.core.series.Series

In [17]:
Series2=pd.Series([1,2,4,5])
Series2

0    1
1    2
2    4
3    5
dtype: int64

In [18]:
empty_s=pd.Series([])
empty_s

c:\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [24]:
Series3=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
Series3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [26]:
Series3=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'],dtype=float)
Series3

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [29]:
Series3=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'],dtype=float, name='Data Value')
Series3

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: Data Value, dtype: float64

In [34]:
scalar=pd.Series(0.5,index=[1,2,3])
scalar

1    0.5
2    0.5
3    0.5
dtype: float64

In [36]:
dict_s=pd.Series({"a":1,"b":2})
dict_s

a    1
b    2
dtype: int64

In [52]:
s4=pd.Series([1,2,3])
#s4[1]
s4[0:5]
#s4[::-1]
# max(s4)
# min(s4)
s4[s4>3]

Series([], dtype: int64)

In [53]:
s5=pd.Series([4,5,6])
s5

0    4
1    5
2    6
dtype: int64

In [54]:
s4+s5

0    5
1    7
2    9
dtype: int64

In [57]:
s6=pd.Series([1,2,3,4,5])
print(s6)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [58]:
s5+s6

0    5.0
1    7.0
2    9.0
3    NaN
4    NaN
dtype: float64

### Pandas Part 2

### How to create python pandas DataFrame

In [60]:
import pandas as pd

In [64]:
lst=['a','b','c','d']
print(lst)

['a', 'b', 'c', 'd']

In [67]:
df=pd.DataFrame(lst)
df

   0
0  a
1  b
2  c
3  d

In [70]:
ls_of_ls=[[1,2,3],[2,3,4],[5,6,7]]
ls_of_ls
df1=pd.DataFrame(ls_of_ls)
df1

   0  1  2
0  1  2  3
1  2  3  4
2  5  6  7

In [78]:
# Dictionary for crating dataFrame
dic1={'Id':[11,12,13],"Name":['Abhi','Sham','Ram']}
dic1

{'Id': [11, 12, 13], 'Name': ['Abhi', 'Sham', 'Ram']}

In [79]:
df2=pd.DataFrame(dic1)
df2

   Id  Name
0  11  Abhi
1  12  Sham
2  13   Ram

In [80]:
ls_dict=[{'a':1,'b':2},{'a':3,'b':4}]
ls_dict

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]

In [82]:
# list to create data frame
df3=pd.DataFrame(ls_dict)
df3

   a  b
0  1  2
1  3  4

In [83]:
# list to Dictionary crating data frame
ls_dict=[{'a':1,'b':2},{'a':3,'b':4,'c':5}]
df3=pd.DataFrame(ls_dict)
df3

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [84]:
# Dictionar and Series combination to create data frame
dict_sr={"ID":pd.Series([1,2,3,4]),"SN":pd.Series([11,12,13,14])}
df4=pd.DataFrame(dict_sr)
df4

   ID  SN
0   1  11
1   2  12
2   3  13
3   4  14